/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); */
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* common section */
.common-title {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
}

.common-paragraph {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.section-title {
    width: 852px;
}

.primary-btn,.contact-button,.card-button,#submit-btn:hover{
    cursor: pointer;
}

/* header section styles */
nav {
    max-width: 1440px;
    /* margin: 0 auto; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 160px;
}

nav p {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 20px;
    font-weight: 800;
    line-height: 33px;
    /* letter-spacing: 0%; */
    /* text-align: left; */
}

nav .primary-btn {
    border: 1px solid rgb(13, 19, 33);
    background: white;
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 24px;
}

/* banner styles */
.banner {
    max-width: 1440px;
    height: 650px;
    border: 2px dashed rgba(13, 19, 33, 0.3);
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .title-section h2 {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 40px;
    font-weight: 800;
    line-height: 62px;
    text-align: center;
}

.contact-button {
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px;
    border-radius: 8px;
    margin-top: 30px;
}

/* section-1 styles */
.section-1 {
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.card-container {
    width: 946px;
    height: 1072px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    width: 100%;
    height: 31%;
}

.card1 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.card2 {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.card3 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.card-content {
    width: 850px;
    height: 240px;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}


.card-title {
    color: rgba(13, 19, 33, 0.7);
    /* font-family: Azeret Mono; */
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    /* letter-spacing: 0%; */
    text-align: left;
}

.card-des {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* letter-spacing: 0%; */
    text-align: left;
    margin: 12px 0px 16px 0px;
}

.card-button {
    border: 1px solid rgb(13, 19, 33);

    padding: 12px 20px;

    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    /* letter-spacing: 0%; */
    text-align: center;

    margin: 16px 0px 0px 0px;
}

/* section-2 styles */
.section-2 {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.video {
    width: 1140px;
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
}

.video #video-content {
    border-radius: 16px;
}

/* section-3 styles */

.section-3 {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.items-container {
    width: 1140px;
    height: 299px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 32%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    background: rgba(255, 76, 30, 0.05);
}

.item2 {
    background: rgba(0, 76, 232, 0.05);
}

.item3 {
    background: rgba(255, 223, 0, 0.05);
}

.item-content {
    width: 284px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item-title {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    /* letter-spacing: 0%; */
    /* text-align: left; */
}

.item-pic {
    margin-bottom: 24px;
}

.item-des {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    /* letter-spacing: 0%; */
    /* text-align: left; */
}

.item-link {
    text-decoration: none;
    color: black;
    /* font-family: Azeret Mono; */
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    /* letter-spacing: 0%; */
    /* text-align: left; */
    text-decoration-line: underline;
    margin-top: 24px;
}

/* section-4 styles */

.section-4 {
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.target-item-container {
    width: 1140px;
    height: 705px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.target-item {
    height: 31%;
    width: 100%;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-item-content {
    width: 1060px;
    height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.target-item-title {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    /* letter-spacing: 0%; */
    /* text-align: left; */
}

.target-item-des {
    margin-top: 8px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.target-item-link {
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}


/* section-5 styles */
.section-5 {
    width: 1140px;
    height: 313px;
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    /* border: 2px solid red; */
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-container {
    width: 1044px;
    height: 185px;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#support-title {
    color: rgb(255, 255, 255);
    /* font-family: Azeret Mono; */
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    /* letter-spacing: 0%; */
    text-align: center;
}

#support-des {
    color: rgb(255, 255, 255);
    /* font-family: Azeret Mono; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    /* text-align: center; */
    margin-top: 16px;
}

#message-area {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

#message {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
}

#submit-btn {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px;
}

/* footer section styles */
footer {
    height: 100px;
    border-radius: 16px;
    margin-top: 80px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    flex-direction: column;
}

.footer {
    width: 1140px;
    height: 36px;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#commitment {
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 20px;
    font-weight: 600;
    /* line-height: 23px; */
    /* letter-spacing: 0%; */
    text-align: center;
}

#social-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}